<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/caixa_horizontal.css">

</head>
<body>
    <div>
        <h1>topicos</h1>
        <a href="#">Videos</a> <br>
        <a href="#">Videos ao vivo</a> <br>
        <a href="#">Fotos do dia</a> <br>
        <a href="#noticias">notícias</a>
    </div>

    <div id="videos">
        <h1>videos</h1>
        <p>conteudo...</p>
    </div>

    <div id="videos-ao-vivo">
        <h1>videos ao vivo</h1>
        <p>conteudo...</p>
    </div>

    <div id="noticias">
        <h1>Noticias</h1>

        <div class="caixa-horizontal">
            <div class="caixas">
    
                <div class="caixa">texto img 1</div>
                <div class="caixa">texto img2</div>
                <div class="caixa">texto img 3</div>
    
                <div class="caixa caixa-oculta">texto img 4</div>
                <div class="caixa caixa-oculta">texto img 5</div>
                <div class="caixa caixa-oculta">texto img 6</div>
    
                <div class="caixa caixa-oculta">texto img 7</div>
                <div class="caixa caixa-oculta">texto img 8</div>
                <div class="caixa caixa-oculta">texto img 9</div>
    
            </div>
            <div class="leftright">
                <button id="btn_left">Left</button>
                <button id="btn_right">Right</button>
            </div>
        </div>
    </div>
    

    <script src="../js/caixa_horizontal.js"></script>
</body>
</html>